<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/page-header :: header('Home')}">

<div th:replace="~{fragments/nav-header :: nav-header}"></div>




<!-- Title page -->
<section class="bg-img1 txt-center p-lr-15 p-tb-92"
	style="background-image: url('images/bg-01.jpg');">
	<h2 class="ltext-105 cl0 txt-center">概要</h2>
</section>

<!-- breadcrumb -->
<div class="container">
	<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
		<a href="index.html" class="stext-109 cl8 hov-cl1 trans-04"> ホーム <i
			class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
		</a> <span class="stext-109 cl4"> 概要 </span>
	</div>
</div>
<!-- Content page -->
<section class="bg0 p-t-75 p-b-120">
	<div class="container">
		<div class="row p-b-148">
			<div class="col-md-7 col-lg-8">
				<div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
					<h3 class="mtext-111 cl2 p-b-16">Our Story</h3>

					<p class="stext-113 cl6 p-b-26">2022年、日本・千葉にて創設された「CIN Shop」。

						創設者は 「トランバン・チェン」、「岩切悠馬」、「行貝和真」の3人であり その頭文字(イニシャル)から引用されいる。

						CINは各ブランドのスニーカー広く展開している オンラインショップである。</p>


				</div>
			</div>

			<div class="col-11 col-md-5 col-lg-4 m-lr-auto">
				<div class="how-bor1 ">
					<div class="hov-img0">
						<img src="images/about-01.jpg" alt="IMG">
					</div>
				</div>
			</div>
		</div>


	</div>
</section>



<!-- Footer -->
<div th:replace="~{fragments/footer :: footer}"></div>



<!-- Back to top -->
<div class="btn-back-to-top" id="myBtn">
	<span class="symbol-btn-back-to-top"> <i
		class="zmdi zmdi-chevron-up"></i>
	</span>
</div>

<!--===============================================================================================-->
<div th:replace="~{fragments/js-common :: import-js}"></div>
</body>

</html>