<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/page-header :: header('Home')}">

</head>

<body class="animsition">

	<!-- Header -->
	<div th:replace="~{fragments/nav-header :: nav-header}"></div>

	<!-- breadcrumb -->
	<div class="container">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="account-detail.html" class="stext-109 cl8 hov-cl1 trans-04">
				ホーム
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>
			<a href="account-detail.html" class="stext-109 cl8 hov-cl1 trans-04">
				アカウント
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<span class="stext-109 cl4">
				Edit
			</span>
		</div>
	</div>


	<!-- account detail -->
	<form th:action="@{/account/u}" th:object="${customer}" th:method="POST" class="bg0 p-t-75 p-b-85">
		<div class="container">
			<div class="row">

				<!--left-nav-Start-->
				<div class="col-lg-3 m-b-50">
					<div class=" p-lr-40 p-t-30 p-b-40   m-lr-0-xl p-lr-15-sm">
						<h4 class="mtext-112 cl2 p-b-30">
							アカウント
						</h4>

						<div class="bor12 p-b-13 hov-cl1 m-b-18 bg6">
							<a class="size-208" th:href="@{/c}">
								<span class="stext-110 cl2">
									アカウント情報
								</span>
							</a>

						</div>
						<div class="bor12 p-b-13 hov-cl1 m-b-18">
							<a class="size-208" th:href="@{/order/history}">
								<span class="stext-110 cl2">
									購入履歴
								</span>
							</a>

						</div>
						<div class="bor12 p-b-13 hov-cl1 m-b-18">
							<a class="size-208" href="#">
								<span class="stext-110 cl2">
									設定
								</span>
							</a>

						</div>
						<div class="bor12 p-b-13 hov-cl1 m-b-18">
							<a class="size-208" href="#">
								<span class="stext-110 cl2">
									〇〇〇〇
								</span>
							</a>

						</div>

					</div>
				</div>
				<!--left-nav-end-->

				<div class="col-lg-10 col-xl-9 m-lr-auto m-b-50">
					<div class="flex-w flex-m m-b-10 p-b-13">
						<div class="size-203">
							<span class="stext-110 cl2">
								E-Mail
							</span>
						</div>

						<div class="size-204">
							<span class="stext-111 cl2 plh3 size-111  p-l-10">cin@gmail.com</span>
						</div>
					</div>
					<div class="flex-w flex-m m-b-10 p-b-13">
						<div class="size-203">
							<span class="stext-110 cl2">
								新規パスワード
							</span>
						</div>

						<div class="size-204">
							<input class="stext-111 cl2 plh3 size-111 bor10 p-l-10" type="password" name="password" id="password" th:field="*{password}" oninput="confirmPassword(); nullCheck();">
						</div>
					</div>
					<!-- エラーメッセージ表示-->
					<b id = "passwordError_msg"></b>
					<!-- エラーメッセージ表示-->
					<div class="flex-w flex-m m-b-10 p-b-13 ">
						<div class="size-203">
							<span class="stext-110 cl2">
								確認パスワード
							</span>
						</div>

						<div class="size-204">
							<input class="stext-111 cl2 plh3 size-111 bor10 p-l-10" type="password" name="rePassword" id="rePassword" oninput="confirmPassword(); nullCheck();">
						</div>
					</div>
					<div class="flex-w flex-m m-b-10 p-b-13">
						<div class="size-203">
							<span class="stext-110 cl2">
								性
							</span>
						</div>

						<div class="size-204">
							<input class="stext-111 cl2 plh3 size-111 bor10 p-l-10" type="text" name="firstName"
								placeholder="フリガナ" id="firstName" th:field="*{firstName}" oninput="nullCheck();">
						</div>
					</div>
					<div class="flex-w flex-m m-b-10 p-b-13">
						<div class="size-203">
							<span class="stext-110 cl2">
								名
							</span>
						</div>

						<div class="size-204">
							<input class="stext-111 cl2 plh3 size-111 bor10 p-l-10" type="text" name="lastName"
								placeholder="フリガナ" id="lastName" th:field="*{lastName}" oninput="nullCheck();">
						</div>
					</div>
					<div class="flex-w flex-m m-b-10 p-b-13">
						<div class="size-203">
							<span class="stext-110 cl2">
								性別
							</span>
						</div>

						<div class="size-204">
							<div class="flex-w flex-sa-m">
								<span class="flex-w"><input class="stext-111 p-lr-10" type="radio" name="gender" id="gender"
										value="1">男性</span>
								<span class="flex-w"><input class="stext-111" type="radio" name="gender" id="gender"
										value="2">女性</span>
							</div>

						</div>
					</div>
					<div class="flex-w flex-m m-b-10 p-b-13">
						<div class="size-203">
							<span class="stext-110 cl2">
								電話番号
							</span>
						</div>

						<div class="size-204">
							<input class="stext-111 cl2 plh3 size-111 bor10 p-l-10" type="text" name="phoneNumber"
								placeholder="000-0000-0000" id="phoneNumber" th:field="*{phoneNumber}" oninput="nullCheck();">
						</div>
					</div>
					<div th:object="${address}">
						<div class="flex-w flex-m m-b-10 p-b-13">
							<div class="size-203">
								<span class="stext-110 cl2">
									郵便番号
								</span>
							</div>
	
							<div class="size-204">
								<input class="stext-111 cl2 plh3 size-111 bor10 p-l-10" type="text" name="postCode"
									placeholder="123-4567" id="postCode" th:field="*{postCode}" oninput="nullCheck();">
							</div>
						</div>
						<div class="flex-w flex-m m-b-10 p-b-13">
							<div class="size-203">
								<span class="stext-110 cl2">
									住所
								</span>
							</div>
	
							<div class="size-204">
								<input class="stext-111 cl2 plh3 size-111 bor10 p-l-10" type="text" name="firstAddress"
									placeholder="市区町" id="firstAddress" th:field="*{firstAddress}" oninput="nullCheck();">
							</div>
						</div>
						<div class="flex-w flex-m m-b-10 p-b-13">
							<div class="size-203">
								<span class="stext-110 cl2">
									住所
								</span>
							</div>
	
							<div class="size-204">
								<input class="stext-111 cl2 plh3 size-111 bor10 p-l-10" type="text" name="lastAddress"
									placeholder="番地,マンション名" id="lastAddress" th:field="*{lastAddress}" oninput="nullCheck();">
							</div>
						</div>
					</div>
					<button id="button_" disabled class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer m-t-50">
						保存
					</button>
				</div>
			</div>
		</div>
		<input type="hidden" id="email" name="email" th:field="*{email}">
		<input type="hidden" id="custId" name="custId" th:field="*{id}">
	</form>




	<!-- Footer -->
	<div th:replace="~{fragments/footer :: footer}"></div>
	</footer>


	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

	<!--===============================================================================================-->
	<div th:replace="~{fragments/js-common :: import-js}"></div>
		<!--========================================ここから追加したやつ==========================================-->
	<script th:inline="javascript">
		
		//ボタン制御
		var passwordCheck = false;	//パスワードが一致したらtrue
		
		const custId = document.getElementById('custId');
		const email = document.getElementById('email');
		let gender = document.getElementsByName('gender');
		const firstName = document.getElementById('firstName');
		const lastName = document.getElementById('lastName');
		const phoneNumber = document.getElementById('phoneNumber');
		const postCode = document.getElementById('postCode');
		const firstAddress = document.getElementById('firstAddress');
		const lastAddress = document.getElementById('lastAddress');
		const button = document.getElementById('button_');
		
		const custIdDBValue = /*[[${custIdDBValue}]]*/"custIdDBValue";
		const emailDBValue = /*[[${emailDBValue}]]*/"emailDBValue";
		const genderDBValue = /*[[${genderDBValue}]]*/"genderDBValue";
		const firstNameDBValue = /*[[${firstNameDBValue}]]*/"firstNameDBValue";
		const lastNameDBValue = /*[[${lastNameDBValue}]]*/"lastNameDBValue";
		const phoneNumberDBValue = /*[[${phoneNumberDBValue}]]*/"phoneNumberDBValue";
		const postCodeDBValue = /*[[${postCodeDBValue}]]*/"postCodeDBValue";
		const firstAddressDBValue = /*[[${firstAddressDBValue}]]*/"firstAddressDBValue";
		const lastAddressDBValue = /*[[${lastAddressDBValue}]]*/"lastAddressDBValue";
		console.log(custIdDBValue);
		
		if (!custIdDBValue == "")custId.defaultValue = custIdDBValue;
		if (!emailDBValue == "")email.defaultValue = emailDBValue;
		if (genderDBValue == 1) {
			gender[0].checked = true;
		} else if (genderDBValue == 2) {
			gender[1].checked = true;
		}
		if (!firstNameDBValue == "")firstName.defaultValue = firstNameDBValue;
		if (!lastNameDBValue == "")lastName.defaultValue = lastNameDBValue;
		if (!phoneNumberDBValue == "")phoneNumber.defaultValue = phoneNumberDBValue;
		if (!postCodeDBValue == "")postCode.defaultValue = postCodeDBValue;
		if (!firstAddressDBValue == "")firstAddress.defaultValue = firstAddressDBValue;
		if (!lastAddressDBValue == "")lastAddress.defaultValue = lastAddressDBValue;
		
		
		//新規登録画面ロードした瞬間にボタンを灰色にする
		window.addEventListener('load', (event) => {
  			button.style.backgroundColor = "gray";
		});
		
		
		//入力するたびにパスワード一致チェック
		function confirmPassword() {
  			const password = document.getElementById('password').value;
  			const confirmPassword = document.getElementById('rePassword').value;
            const errorMsg = document.getElementById('passwordError_msg');
            
            if (password != "") {
				if (password == confirmPassword) {
	                errorMsg.innerText = "";
	                passwordCheck = true;
	            } else {
	                errorMsg.innerText = "パスワードが一致しません";
	                passwordCheck = false;
	            }
			} else {
				errorMsg.innerText = "パスワードを入力してください";
				passwordCheck = false;
			}
			errorMsg.style.color = "red";
        }
        
        
        //入力するたびに必須項目のNULLチェック
		function nullCheck() {
			const password = document.getElementById('password').value;
			const rePassword = document.getElementById('rePassword').value;
			const firstName = document.getElementById('firstName').value;
			const lastName = document.getElementById('lastName').value;
			const phoneNumber = document.getElementById('phoneNumber').value;
			const postCode = document.getElementById('postCode').value;
			const firstAddress = document.getElementById('firstAddress').value;
			const lastAddress = document.getElementById('lastAddress').value;
			
			if(!password == "" && !rePassword == "" && !firstName == "" && !lastName == "" && 
               !phoneNumber == "" && !postCode == "" && !firstAddress == "" && !lastAddress == "" && passwordCheck == true) {
			    button.disabled = null;		//ボタンを押せるようにする。
			    button.style.backgroundColor = "black";
			} else {
				button.disabled = "disabled";	//ボタンを押せないようにする。
				button.style.backgroundColor = "gray";
			}
		}
	</script>
</body>
</html>