<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/page-header :: header('Home')}">

</head>

<body class="animsition">

	<!-- Header -->

	<head th:replace="~{fragments/nav-header :: nav-header}">


		<!-- Cart -->
		<div class="wrap-header-cart js-panel-cart" th:replace="~{fragments/page-header :: cart}"></div>



		<!-- Slider -->
		<section class="section-slide">
			<div class="wrap-slick1">
				<div class="slick1">
					<div class="item-slick1" style="background-image: url(#);">
						<div class="container h-full">
							<div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
								<div class="layer-slick1 animated visible-false" data-appear="fadeInDown"
									data-delay="0">
									<span class="ltext-101 cl2 respon2"> 人気スニーカー </span>
								</div>

								<div class="layer-slick1 animated visible-false" data-appear="fadeInUp"
									data-delay="800">
									<h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1"></h2>
								</div>

								<div class="layer-slick1 animated visible-false" data-appear="zoomIn" data-delay="1600">
									<a href="product.html"
										class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
										Shop </a>
								</div>
							</div>
						</div>
					</div>

					<div class="item-slick1" style="background-image: url(#);">
						<div class="container h-full">
							<div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
								<div class="layer-slick1 animated visible-false" data-appear="rollIn" data-delay="0">
									<span class="ltext-101 cl2 respon2"> 新作スニーカー </span>
								</div>

								<div class="layer-slick1 animated visible-false" data-appear="lightSpeedIn"
									data-delay="800">
									<h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1"></h2>
								</div>

								<div class="layer-slick1 animated visible-false" data-appear="slideInUp"
									data-delay="1600">
									<a href="product.html"
										class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
										Shop </a>
								</div>
							</div>
						</div>
					</div>

					<div class="item-slick1" style="background-image: url(#);">
						<div class="container h-full">
							<div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
								<div class="layer-slick1 animated visible-false" data-appear="rotateInDownLeft"
									data-delay="0">
									<span class="ltext-101 cl2 respon2"> 発売予定のスニーカー </span>
								</div>

								<div class="layer-slick1 animated visible-false" data-appear="rotateInUpRight"
									data-delay="800">
									<h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1"></h2>
								</div>

								<div class="layer-slick1 animated visible-false" data-appear="rotateIn"
									data-delay="1600">
									<a href="product.html"
										class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
										Shop </a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>


		<!-- Banner -->
		<div class="sec-banner bg0 p-t-80 p-b-50">
			<div class="container">
				<div id="brd" class="row">


				</div>




			</div>
		</div>
		</div>


		<!--Product-->
		<section class="bg0 p-t-23 p-b-140">
			<div class="container">
				<div class="p-b-10">
					<h3 class="ltext-103 cl5">商品一覧</h3>
				</div>
				<!--category, filter-->
				<div th:replace="~{fragments/filter-search :: filter-search}"></div>
				<!--category, filter-->
				<div class="row isotope-grid">
					<th:block th:each="p : ${products}">
						<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item">

							<div class="block2">
								<div class="block2-pic hov-img0">
									<!--画像-->
									<img src="images/nikepandank.jpg" alt="IMG-PRODUCT">
									<!--商品詳細modalに移行-->
									<a th:href="@{'/p/' + ${p.id}}"
										class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
										詳細 </a>
								</div>

								<div class="block2-txt flex-w flex-t p-t-14">
									<div class="block2-txt-child1 flex-col-l ">
										<a th:href="@{'/p/' + ${p.id}}"
											class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6" th:text="${p.name}">
											Nike Dunk Low Retro "White/Black" </a> <span class="stext-105 cl3"
											th:text="${p.price}"> ¥12,100円 </span>
									</div>

									<div class="block2-txt-child2 flex-r p-t-3">
										<a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
											<img class="icon-heart1 dis-block trans-04"
												src="images/icons/icon-heart-01.png" alt="ICON"> <img
												class="icon-heart2 dis-block trans-04 ab-t-l"
												src="images/icons/icon-heart-02.png" alt="ICON">
										</a>
									</div>
								</div>
							</div>
						</div>

					</th:block>
				</div>


				<!--Load more -->
				<div class="flex-c-m flex-w w-full p-t-38">
					<a href="#" class="flex-c-m how-pagination1 trans-04 m-all-7 active-pagination1">
						1 </a> <a href="#" class="flex-c-m how-pagination1 trans-04 m-all-7">
						2 </a>
				</div>
			</div>
		</section>


		<!--Footer -->

		<div th:replace="~{fragments/footer :: footer}"></div>

		<!--Back to top -->
		<div class="btn-back-to-top" id="myBtn">
			<span class="symbol-btn-back-to-top"> <i class="zmdi zmdi-chevron-up"></i>
			</span>
		</div>

		<!--Modal1 -->
		<!---===============================================================================================-->
		<div th:replace="~{fragments/js-common :: import-js}"></div>
		<script>
			initPage();

			function initPage() {
				$.ajax({
					url: "api/pd/colors",

					success: function (data) {
						renderColors(data);
					},
					error: function () {
						console.log("Can't display colors from json : getInitData");

					}
				}
				)
				$.ajax({
					url: "api/pd/cat",

					success: function (data) {
						renderCat(data);
					},
					error: function () {
						console.log("Can't display cat from json : getInitData");

					}
				}
				)
				$.ajax({
					url: "api/pd/b",

					success: function (data) {
						renderBrands(data);
					},
					error: function () {
						console.log("Can't display brand from json : getInitData");

					}
				}
				)
				$.ajax({
					url: "api/pd/sizes",

					success: function (data) {
					},
					error: function () {
						console.log("Can't display sizes from json : GetcolorsAJAX");

					}
				}
				)




			}
			function renderColors(colors) {
				for (let color of colors) {
					let id = color.id;
					let name = color.name;
					let code = color.colorCode;
					let url = window.location.href + "search/color/" + id;
					$("#sbc").append(`<li class="p-b-6">
            <span class="fs-15 lh-12 m-r-6" style="color: ${code};">
                <i class="zmdi zmdi-circle"></i>
            </span>

            <a href="${url}" class="filter-link stext-106 trans-04">
                ${name}
            </a>
        </li>`
					)
				}

			}
			function renderCat(cats) {
				for (let cat of cats) {
					let id = cat.id;
					let name = cat.name;
					let url = window.location.href + "search/cat/" + id;
					$("#cat").append(`
            <a class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 " href="${url}">
            ${name}
        </a>`
					)
				}
			}
			function renderBrands(brands) {
				for (let brand of brands) {
					let id = brand.id;
					let name = brand.name;
					let img_url = brand.brandLogo;
					let s_url = window.location.href + "search/brand/" + id;
					$("#brd").append(`
					<div  class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
					<div class="block1 ">
					<img src="${img_url}" alt="IMG-BANNER">
						<a href="${s_url}" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
						<div class="block1-txt-child1 flex-col-l">
					<span class="block1-name ltext-102 trans-04 p-b-8" text="${name}">
			
					</span>
					</div>

					<div class="block1-txt-child2 p-b-4 trans-05">
					<div class="block1-link stext-101 cl0 trans-09">
						Shop Now
					</div>
					</div>
						</a>
					</div>
					</div>`
					)
				}
			}
		</script>
</body>

</html>