<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/page-header :: header('Home')}">

</head>

<body class="animsition">

	<!-- Header -->
	<div th:replace="~{fragments/nav-header :: nav-header}"></div>

	<!-- Slider -->

	<form method="post" th:action="@{/forgotPass}">
		<section class="bg0 p-t-104 p-b-116">
			<div class="container">
				<div class="flex-w flex-c">
					<div class="size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md">
						<h4 class="mtext-105 cl2 txt-center p-b-30">
							パスワード再設定フォーム
						</h4>

						<div class="flex-w flex-m m-b-10 p-b-13">
							<div class="size-203">
								<span class="stext-110 cl2">
									E-Mail
								</span>
							</div>

							<div class="size-204">
								<input class="stext-111 cl2 plh3 size-111 bor10 p-l-10" type="text" name="email"
									id="email" oninput="nullCheck();">
							</div>
						</div>
						<button id="button_" disabled
							class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer m-t-50">送信</button>
					</div>
				</div>
			</div>
		</section>
	</form>



	<!--Footer -->

	<div th:replace="~{fragments/footer :: footer}"></div>

	<!--Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top"> <i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

	<!--Modal1 -->
	<!---===============================================================================================-->
	<div th:replace="~{fragments/js-common :: import-js}"></div>

	</script>
	<script th:inline="javascript">
		
		//ボタン制御
		const button = document.getElementById('button_');
		
		//新規登録画面ロードした瞬間にボタンを灰色にする
		window.addEventListener('load', (event) => {
  			button.style.backgroundColor = "gray";
		});
		
        
        //入力するたびに必須項目のNULLチェック
		function nullCheck() {
			const email = document.getElementById('email').value;
			
			if(!email == "") {
			    button.disabled = null;		//ボタンを押せるようにする。
			    button.style.backgroundColor = "black";
			} else {
				button.disabled = "disabled";	//ボタンを押せないようにする。
				button.style.backgroundColor = "gray";
			}
		}
	</script>
</body>

</html>