<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/page-header :: header('Home')}">

</head>

<body class="animsition">

	<!-- Header -->
	<div th:replace="~{fragments/nav-header :: nav-header}"></div>

	<!-- breadcrumb -->
	<div class="container">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="index.html" class="stext-109 cl8 hov-cl1 trans-04">
				ホーム
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<span class="stext-109 cl4">
				購入履歴
			</span>
		</div>
	</div>


	<!-- Shoping Cart -->
	<form class="bg0 p-t-75 p-b-85">
		<div class="container">
			<div class="row">

				<!--left-nav-Start-->
				<div class="col-lg-3 m-b-50">
					<div class=" p-lr-40 p-t-30 p-b-40   m-lr-0-xl p-lr-15-sm">
						<h4 class="mtext-112 cl2 p-b-30">
							アカウント
						</h4>

						<div class="bor12 p-b-13 hov-cl1 m-b-18 ">
							<a class="size-208" href="account-detail.html" th:href="@{/account}">
								<span class="stext-110 cl2">
									アカウント情報
								</span>
							</a>

						</div>
						<div class="bor12 p-b-13 hov-cl1 m-b-18 bg6">
							<a class="size-208" href="order-history.html">
								<span class="stext-110 cl2">
									購入履歴
								</span>
							</a>

						</div>
						<div class="bor12 p-b-13 hov-cl1 m-b-18">
							<a class="size-208" href="#">
								<span class="stext-110 cl2">
									設定
								</span>
							</a>

						</div>
						<div class="bor12 p-b-13 hov-cl1 m-b-18">
							<a class="size-208" href="#">
								<span class="stext-110 cl2">
									〇〇〇〇
								</span>
							</a>

						</div>

					</div>
				</div>
				<!--left-nav-end-->

				<div class="col-lg-10 col-xl-9 m-lr-auto m-b-50">
					<div class="mtext-112 p-b-30">購入履歴</div>
					<!--oder item block-->
					<th:block th:each="order : ${orders}">
						<div class="col- m-t-10 m-b-30 bor10 p-b-20">
							<div class="bor12 m-tb-10">
								<div class="flex-row flex-sa-m ">
									<div class="">配達状態:
										<span th:text="${order.status}">完了</span>
									</div>
									<div>注文日 :
										<span th:text="${order.orderDateString}">2022/11/22</span>
									</div>

								</div>
							</div>
							<div class="flex-row p-tb-10">
								<div class=" col-6 flex-col-l bor9">
									<th:block th:each="detail : ${order.orderDetails}">
										<div class=" flex-row p-rl-16 p-tb-20">
											<div class="how-itemcart1">
												<img th:src="${detail.product.mainImage}" alt="IMG">
											</div>
											<div>
												<div class="fs-22 mtext-101" th:text="${detail.product.name}">Product
													name
												</div>
												<div class="fs-12">カラー :<span
														th:text="${detail.product.color.name}">レッド</span></div>
												<div class="fs-12">サイズ :<span
														th:text="${detail.product.size.value}">15</span></div>
												<div class="fs-12">数量 :<span th:text="${detail.quantity}">1</span></div>
											</div>
										</div>
									</th:block>

								</div>

								<div class="col-6 m-t-20 flex-row">
									<ul class="list-group list-group-flush m-auto">
										<li class="p-tb-4  list-group-item">
											<span>合計金額 :</span>
											<span th:text="'¥' +${order.total}"> 50000</span>
										</li>
										<li class="p-tb-4  list-group-item">
											<span>支払方法 :</span>
											<span th:text="${order.paymentMethod.nameJa}"></span>
										</li>
										<li class="p-tb-4  list-group-item">
											<span>オーダー番号:</span>
											<span th:text="${order.orderNum}"></span>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</th:block>
					<div class="flex-c-m flex-w w-full p-t-38">
				<th:block th:each="p:${#numbers.sequence(0,totalPages-1)}">
					<a th:href="@{'/order/history/' + ${p +1}}"
						class="flex-c-m how-pagination1 trans-04 m-all-7 "
						th:classappend="${currentPage == p}?active-pagination1"> [[${p
						+1 }]] </a>
			</div>
				</div>

			</div>
			</th:block>
			<!--block end-->

		</div>


		</div>
		</div>
	</form>




	<!-- Footer -->
	<div th:replace="~{fragments/footer :: footer}"></div>


	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

	<!--===============================================================================================-->
	<div th:replace="~{fragments/js-common :: import-js}"></div>

	</script>
	<!--===============================================================================================-->
	<script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function () {
			$(this).css('position', 'relative');
			$(this).css('overflow', 'hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function () {
				ps.update();
			})
		});
	</script>

</body>

</html>