<!DOCTYPE html>
<html lang="en" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/page-header :: header('Home')}">

</head>

<body class="animsition">

	<!-- Header -->
	<div th:replace="~{fragments/nav-header :: nav-header}"></div>

	
	<!-- Title page -->
	<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('images/bg-01.jpg');">
		<h2 class="ltext-105 cl0 txt-center">
			パスワード再設定
		</h2>
	</section>
	
	<!--　パスワード変更フォーム　-->
	<form method="post" th:action="@{/rstp}">
	<section class="bg0 p-t-104 p-b-116">
		<div class="container">
			<div class="flex-w flex-c">
				<div class="size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md">
					<h4 class="mtext-105 cl2 txt-center p-b-30">
						パスワード再設定
					</h4>
					<div class="flex-w flex-m m-b-10 p-b-13">
						<div class="size-203">
							<span class="stext-110 cl2">
								パスワード
							</span>
						</div>
				
						<div class="size-204">
							<input type="password" id="newPassword" name="newPassword" class="stext-111 cl2 plh3 size-111 bor10 p-l-10" oninput="confirmPassword(); nullCheck();">
						</div>
					</div>
					
					<!-- エラーメッセージ表示-->
					<b id = "passwordError_msg"></b>
					<!-- エラーメッセージ表示-->
					
					<div class="flex-w flex-m m-b-10 p-b-13 ">
						<div class="size-203">
							<b id="error_msg"></b>
							<span class="stext-110 cl2">
								確認パスワード
							</span>
						</div>
						<div class="size-204">
							<input type="password" id="rePassword" name="rePassword" class="stext-111 cl2 plh3 size-111 bor10 p-l-10" oninput="confirmPassword(); nullCheck();">
						</div>
					</div>	
					<input type="hidden" id="custId" name="custId">
					<button id="button_" disabled class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer m-t-50">送信</button>
				</div>
			</div>
		</div>
	</section>
	</form>
	<!--　パスワード変更フォーム　-->

	<!-- Footer -->
		<div th:replace="~{fragments/footer :: footer}"></div>

	<!--===============================================================================================-->
	<div th:replace="~{fragments/js-common :: import-js}"></div>
	<!--========================================ここから追加したやつ==========================================-->
	<script th:inline="javascript">
		
		//hidden
		const custId = document.getElementById('custId');
		
		//コントローラから受け取った値を変数に代入
		const custIdValue = /*[[${custId}]]*/"custId";
		if (!custIdValue == "") custId.defaultValue = custIdValue;
		
		//ボタン制御
		var passwordCheck = false;	//パスワードが一致したらtrue
		const button = document.getElementById('button_');
		
		
		//新規登録画面ロードした瞬間にボタンを灰色にする
		window.addEventListener('load', (event) => {
  			button.style.backgroundColor = "gray";
		});
		
		
		//入力するたびにパスワード一致チェック
		function confirmPassword() {
  			const password = document.getElementById('newPassword').value;
  			const confirmPassword = document.getElementById('rePassword').value;
            const errorMsg = document.getElementById('passwordError_msg');
            
            if (password != "") {
				if (password == confirmPassword) {
	                errorMsg.innerText = "";
	                passwordCheck = true;
	            } else {
	                errorMsg.innerText = "パスワードが一致しません";
	                passwordCheck = false;
	            }
			} else {
				errorMsg.innerText = "パスワードを入力してください";
				passwordCheck = false;
			}
			errorMsg.style.color = "red";
        }
        
        
        //入力するたびに必須項目のNULLチェック
		function nullCheck() {
			const password = document.getElementById('newPassword').value;
			const rePassword = document.getElementById('rePassword').value;
			
			if(!password == "" && !rePassword == "" && passwordCheck == true) {
			    button.disabled = null;		//ボタンを押せるようにする。
			    button.style.backgroundColor = "black";
			} else {
				button.disabled = "disabled";	//ボタンを押せないようにする。
				button.style.backgroundColor = "gray";
			}
		}
	</script>
</body>
</html>