<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace = "~{fragments/page-header :: header('新規登録')}">
</head>

<body class="animsition">

	<!-- Header -->
	<head th:replace="~{fragments/nav-header :: nav-header}">


	<!-- Title page -->
	<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('images/bg-01.jpg');">
		<h2 class="ltext-105 cl0 txt-center">
			新規登録
		</h2>
	</section>

	<!-- Content page -->
	<section class="bg0 p-t-104 p-b-116">
		<div class="container">
			<div class="flex-w flex-c">
				<div class="size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md">
					<form th:action="@{/create}" th:object="${customer}" th:method="POST">
						<h4 class="mtext-105 cl2 txt-center p-b-30">
							新規登録
						</h4>
						<div class="flex-w flex-m m-b-10 p-b-13">
							<div class="size-203">
								<span class="stext-110 cl2">
									E-Mail
								</span>
							</div>

							<div class="size-204">
								<input type="text" id="email" th:field="*{email}" class="stext-111 cl2 plh3 size-111 bor10 p-l-10" oninput="nullCheck()">
							</div>
						</div>
						<div class="flex-w flex-m m-b-10 p-b-13">
							<div class="size-203">
								<span class="stext-110 cl2">
									パスワード
								</span>
							</div>

							<div class="size-204">
								<input type="password" id="password" name="password" class="stext-111 cl2 plh3 size-111 bor10 p-l-10" oninput="confirmPassword(); nullCheck();">
							</div>
						</div>
						<b id = "error_msg"></b>
						<div class="flex-w flex-m m-b-10 p-b-13 ">
							<div class="size-203">
								<b id="error_msg"></b>
								<span class="stext-110 cl2">
									確認パスワード
								</span>
							</div>

							<div class="size-204">
								<input type="password" id="rePassword" name="rePassword" class="stext-111 cl2 plh3 size-111 bor10 p-l-10" oninput="confirmPassword(); nullCheck();">
							</div>
						</div>
						<div class="flex-w flex-m m-b-10 p-b-13">
							<div class="size-203">
								<span class="stext-110 cl2">
									性
								</span>
							</div>

							<div class="size-204">
								<input type="text" id="firstName" th:field="*{firstName}" class="stext-111 cl2 plh3 size-111 bor10 p-l-10" placeholder="フリガナ" oninput="nullCheck()">
							</div>
						</div>
						<div class="flex-w flex-m m-b-10 p-b-13">
							<div class="size-203">
								<span class="stext-110 cl2">
									名
								</span>
							</div>

							<div class="size-204">
								<input type="text" id="lastName" th:field="*{lastName}" class="stext-111 cl2 plh3 size-111 bor10 p-l-10" placeholder="フリガナ" oninput="nullCheck()">	
							</div>
						</div>
						<div class="flex-w flex-m m-b-10 p-b-13">
							<div class="size-203">
								<span class="stext-110 cl2">
									性別
								</span>
							</div>

							<div class="size-204">
								<div class="flex-w flex-sa-m">
									<span class="flex-w">
										<input type="radio" id="gender" name="gender" class="stext-111 p-lr-10" value="1">男性
									</span>
									<span class="flex-w">
										<input type="radio" id="gender" name="gender" class="stext-111" value = "2">女性
									</span>
								</div>

							</div>
						</div>
						<div class="flex-w flex-m m-b-10 p-b-13">
							<div class="size-203">
								<span class="stext-110 cl2">
									電話番号
								</span>
							</div>

							<div class="size-204">
								<input type="text" id="phoneNumber" th:field="*{phoneNumber}" class="stext-111 cl2 plh3 size-111 bor10 p-l-10" placeholder="000-0000-0000" oninput="nullCheck()">	
							</div>
						</div>
						<div class="flex-w flex-m m-b-10 p-b-13">
							<div class="size-203">
								<span class="stext-110 cl2">
									郵便番号
								</span>
							</div>

							<div class="size-204">
								<input type="text" id="postCode" th:field="*{Address.postCode}" class="stext-111 cl2 plh3 size-111 bor10 p-l-10" placeholder="123-4567" oninput="nullCheck()">	
							</div>
						</div>
						<div class="flex-w flex-m m-b-10 p-b-13">
							<div class="size-203">
								<span class="stext-110 cl2">
									住所
								</span>
							</div>

							<div class="size-204">
								<input type="text" id="firstAddress" th:field="*{Address.firstAddress}" class="stext-111 cl2 plh3 size-111 bor10 p-l-10" placeholder="市区町" oninput="nullCheck()">
							</div>
						</div>
						<div class="flex-w flex-m m-b-10 p-b-13">
							<div class="size-203">
								<span class="stext-110 cl2">
									住所
								</span>
							</div>

							<div class="size-204">
								<input type="text" id="lastAddress" th:field="*{Address.lastAddress}" class="stext-111 cl2 plh3 size-111 bor10 p-l-10" placeholder="番地,マンション名" oninput="nullCheck()">	
							</div>
						</div>

						<b id = "error_msgNull"></b>
						<div>
							<button id="button_" disabled class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer m-t-50" onclick="nullCheckOnClick()">登録</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>


	<!-- Map -->




	<!-- Footer -->
	<footer class="bg3 p-t-75 p-b-32">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						カテゴリー
					</h4>

					<ul>
						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								adidas
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								jordan
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								NewBlance
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								NIKE
							</a>
						</li>
					</ul>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						お問い合わせ
					</h4>

					<ul>
						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								注文
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								キャンセル
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								運送
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								FAQs
							</a>
						</li>
					</ul>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						連絡
					</h4>

					<p class="stext-107 cl7 size-201">
						〒263-0025 千葉市稲毛区穴川町386<br>Tel . 043-307-1819 / Fax . 043-307-6070
					</p>

					<div class="p-t-27">
						<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-facebook"></i>
						</a>

						<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-instagram"></i>
						</a>

						<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-pinterest-p"></i>
						</a>
					</div>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						ニュースレーター
					</h4>

					<form>
						<div class="wrap-input1 w-full p-b-4">
							<input class="input1 bg-none plh1 stext-107 cl7" type="text" name="email"
								placeholder="email@example.com">
							<div class="focus-input1 trans-04"></div>
						</div>

						<div class="p-t-18">
							<button class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04">
								トップ
							</button>
						</div>
					</form>
				</div>
			</div>

			<div class="p-t-40">
				<div class="flex-c-m flex-w p-b-18">
					<a href="#" class="m-all-1">
						<img src="images/icons/icon-pay-01.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="images/icons/icon-pay-02.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="images/icons/icon-pay-03.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="images/icons/icon-pay-04.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="images/icons/icon-pay-05.png" alt="ICON-PAY">
					</a>
				</div>

				<!--<p class="stext-107 cl6 txt-center">
					Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
					-CIN &copy;
					<script>document.write(new Date().getFullYear());</script>
					Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.

				</p>>
			</div>-->
			</div>
	</footer>

	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

	<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
	<script>
		$(".js-select2").each(function () {
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
	<!--===============================================================================================-->
	<script src="vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function () {
			$(this).css('position', 'relative');
			$(this).css('overflow', 'hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function () {
				ps.update();
			})
		});
	</script>
	<!--===============================================================================================-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKFWBqlKAGCeS1rMVoaNlwyayu0e0YRes"></script>
	<script src="js/map-custom.js"></script>
	<!--===============================================================================================-->
	<script src="js/main.js"></script>
	<!--=======================================ここからパスワードチェック========================================-->
	<script>
		function confirmPassword() {
  			const password = document.getElementById('password').value;
  			const confirmPassword = document.getElementById('rePassword').value;
            const errorMsg = document.getElementById('error_msg');
            
            if (password != "") {
				if (password == confirmPassword) {
	                errorMsg.innerText = "";
	            } else {
	                errorMsg.innerText = "パスワードが一致しません";
	            }
			} else {
				errorMsg.innerText = "パスワードを入力してください";
			}
			errorMsg.style.color = "red";
        }
    </script>
    <!--====================================ここから必須項目のNULLチェック=====================================-->
    <script>
		function nullCheck() {
			
			const email = document.getElementById('email').value;
			const password = document.getElementById('password').value;
			const rePassword = document.getElementById('rePassword').value;
			const firstName = document.getElementById('firstName').value;
			const lastName = document.getElementById('lastName').value;
			const phoneNumber = document.getElementById('phoneNumber').value;
			const postCode = document.getElementById('postCode').value;
			const firstAddress = document.getElementById('firstAddress').value;
			const lastAddress = document.getElementById('lastAddress').value;
			const button = document.getElementById("button_");
			const error_msgNull = document.getElementById("error_msgNull");
			
			if(!email == "" && !password == "" && !rePassword == "" && !firstName == "" && !lastName == "" && 
              				  !phoneNumber == "" && !postCode == "" && !firstAddress == "" && !lastAddress == "") {
				  button.disabled = null;
				  
			}
		}
		
		window.addEventListener('load', (event) => {
			const button = document.getElementById("button_");
  			button.style.backgroundColor = "gray";
		});
			
		function nullCheckOnClick() {
			
			const email = document.getElementById('email').value;
			const password = document.getElementById('password').value;
			const rePassword = document.getElementById('rePassword').value;
			const firstName = document.getElementById('firstName').value;
			const lastName = document.getElementById('lastName').value;
			const phoneNumber = document.getElementById('phoneNumber').value;
			const postCode = document.getElementById('postCode').value;
			const firstAddress = document.getElementById('firstAddress').value;
			const lastAddress = document.getElementById('lastAddress').value;
			const button = document.getElementById("button_");
			const error_msgNull = document.getElementById("error_msgNull");
			
			if(email == "" || password == "" || rePassword == "" || firstName == "" || lastName == "" || 
		                      phoneNumber == "" || postCode == "" || firstAddress == "" || lastAddress == "") {
				error_msgNull.innerText = "性別以外は必須項目です。";
				error_msgNull.style.color = "red";
			}
		}
	</script>
    <!--===============================================================================================-->

</body>

</html>