<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/page-header :: header('Home')}">

</head>

<body class="animsition">

	<!-- Header -->
	<div th:replace="~{fragments/nav-header :: nav-header}"></div>

	<!-- breadcrumb -->
	<div class="container">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a th:href="@{/}" class="stext-109 cl8 hov-cl1 trans-04"> ホーム <i
				class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a> <span class="stext-109 cl4"> ショッピングカート </span>
		</div>
	</div>


	<!-- Shoping Cart -->
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-xl-7 m-lr-auto m-b-50">
				<div th:if="${#lists.size(cartItems)} == 0" class="p-tb-50">
					<h3 class="txt-center p-tb-30">商品がございません</h3>
					<a th:href="@{/p}"
						class="flex-c-m stext-101 m-tb-10 p-lr-15 trans-04 pointer m-tb-5">すぐに買い物</a>

				</div>
				<div th:if="${#lists.size(cartItems)} > 0">
					<form class="bg0 p-t-50 p-b-85" th:action="@{/cart/update}"
						method="post">
						<div class="m-l-25 m-r--38 m-lr-0-xl">
							<div class="wrap-table-shopping-cart">
								<table class="table-shopping-cart">
									<tr class="table_head">
										<th class="column-1">商品</th>
										<th class="column-2"></th>
										<th class="column-3">値段</th>
										<th class="column-4">数量</th>
										<th class="column-5">合計</th>
									</tr>
									<th:block th:each="item : ${cartItems}">
										<tr class="table_row">
											<input type="hidden" th:name="productId"
												th:value="${item.product.id}">
											<th:block th:with="detail = ${item.product.productDetail}">
												<td class="column-1">
													<a th:href="@{'/cart/delete?pId=' + ${item.product.id}}">
														<div class="how-itemcart1">
															<img th:src="@{${detail.mainImage}}" alt="IMG">
														</div>
													</a>
												</td>
												<td class="column-2" th:with="p = ${item.product}">
													<div class="stext-301" th:text="${detail.name}"></div>
													<div class="fs-10 p-t-2 p-l-4"
														th:text="'カラー :' + ${p.color.name}"></div>
													<div class="fs-10 p-t-2 p-l-4"
														th:text="'サイズ : '+ ${p.size.value}"></div>
												</td>
												<td class="column-3" th:text="'¥ ' + ${detail.price}"></td>
												<td class="column-4">
													<div class="wrap-num-product flex-w m-l-auto m-r-0">
														<div
															class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
															<i class="fs-16 zmdi zmdi-minus"></i>
														</div>

														<input class="mtext-104 cl3 txt-center num-product"
															type="number" th:name="quantity"
															th:value="${item.quantity}">

														<div
															class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
															<i class="fs-16 zmdi zmdi-plus"></i>
														</div>
													</div>
												</td>
												<td class="column-5"
													th:text="'¥ '+${detail.price} * ${item.quantity}"></td>
											</th:block>
										</tr>
									</th:block>


								</table>

							</div>
							<div class="cl13 txt-center p-tb-5 stext-109 u-cart-alert">*数量を変更する場合、カート更新ボータンを押してください</div>
							<div class="flex-w flex-sa-m p-t-5 p-b-5 p-lr-40 p-lr-15-sm">
								<button class="flex-w flex-m m-r-20 m-tb-5">
									<div
										class="flex-c-m stext-101 cl2 size-118 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-5">
										カート更新</div>
								</button>

								<a class="flex-w flex-c p-t-5 p-b-5 p-lr-40 p-lr-15-sm"
									th:href="@{/order}">
									<div
										class="flex-c-m stext-101 cl2 size-119 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10">
										支払いに進む</div>
								</a>
							</div>
						</div>

					</form>
				</div>
			</div>
		</div>

	</div>




	<!-- Footer -->
	<div th:replace="~{fragments/footer :: footer}"></div>
	<div th:replace="~{fragments/js-common :: import-js}"></div>
	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top"> <i
			class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

	<!--===============================================================================================-->
	<script th:src="@{vendor/jquery/jquery-3.2.1.min.js}"></script>
	<!--===============================================================================================-->
	<script th:src="@{vendor/animsition/js/animsition.min.js}"></script>
	<!--===============================================================================================-->
	<script th:src="@{vendor/bootstrap/js/popper.js}"></script>
	<script th:src="@{vendor/bootstrap/js/bootstrap.min.js}"></script>
	<!--===============================================================================================-->
	<script th:src="@{vendor/select2/select2.min.js}"></script>
	<script>
		$(".js-select2").each(function () {
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
	<!--===============================================================================================-->
	<script th:src="@{vendor/MagnificPopup/jquery.magnific-popup.min.js}"></script>
	<!--===============================================================================================-->
	<script th:src="@{vendor/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
	<script>
		$('.js-pscroll').each(function () {
			$(this).css('position', 'relative');
			$(this).css('overflow', 'hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function () {
				ps.update();
			})
		});
	</script>
	<!--===============================================================================================-->
	<script th:src="@{js/main.js}"></script>

</body>

</html>