<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/page-header :: header('Home')}">
</head>

<body class="animsition">

	<!-- Header -->
<head th:replace="~{fragments/nav-header :: nav-header}">

<!-- breadcrumb -->
<div class="container">
	<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
		<a href="index.html" class="stext-109 cl8 hov-cl1 trans-04">ホーム<i
			class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>

		</a> <a th:href="@{/p}" class="stext-109 cl8 hov-cl1 trans-04"> 商品<i
			class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>

		</a> <span class="stext-109 cl4" th:text="${detail.name}">
			Lightweight Jacket </span>

	</div>
</div>


<!-- Product Detail -->
<section class="sec-product-detail bg0 p-t-65 p-b-60">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-lg-7 p-b-30">
				<div class="p-l-25 p-r-30 p-lr-0-lg">
					<!--image view-->
					<div class="wrap-slick3 flex-sb flex-w">
						<div class="wrap-slick3-dots"></div>
						<div class="wrap-slick3-arrows flex-sb-m flex-w"></div>
						<!--left - gallery-->
						<div class="slick3 gallery-lb">

							<th:block th:each="img : ${detail.images}">
								<div class="item-slick3" th:data-thumb="@{${img.name}}">
									<div class="wrap-pic-w pos-relative">
										<img th:src="@{${img.name}}" alt="IMG-PRODUCT"> <a
											class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
											th:href="@{${img.name}}"> <i class="fa fa-expand"></i>
										</a>
									</div>
								</div>
							</th:block>

						</div>
						<!--left - gallery - end-->
					</div>
				</div>
			</div>

			<div class="col-md-6 col-lg-5 p-b-30">
				<div class="p-r-50 p-t-5 p-lr-0-lg">
					<!--Product name-->
					<h4 class="mtext-105 cl2 js-name-detail p-b-14"
						th:text="${detail.name}"></h4>
					<!--Product Price-->
					<span class="mtext-106 cl2" th:text="${detail.priceCurrency}"></span>
					<!--Product description-->
					<!-- <p class="stext-102 cl3 p-t-23">Nulla eget sem vitae eros
								pharetra viverra. Nam vitae luctus ligula. Mauris consequat ornare
								feugiat.</p> -->

					<!--Custom-->
					<h2 class="p-all-10 ltext-103"
						th:if="${#lists.size(colors) == 0}">品切れ</h2>
					<form th:action="@{/cart/a}" method="post"
						th:if="${#lists.size(colors) != 0}">
						<div class="p-t-33">
							<!--Colors-->
							<input type="hidden" th:value="${detail.id}" name="detailId"
								id="detail-id">
							<div class="flex-w flex-r-m p-b-10">
								<div class="size-203 flex-c-m respon6">カラー</div>

								<div class="size-204 respon6-next">

									<th:block th:each="color : ${colors}">
										<input class="radio-custom" type="radio" th:id="${color.id}"
											name="color" th:value="${color.id}" />
										<label class="radio-lable" th:for="${color.id}"
											th:style="|background :${color.colorCode}|"></label>
									</th:block>

								</div>
								<div class="size-203 flex-c-m respon6">サイズ</div>

								<div class="size-204 respon6-next">
									<div class="rs1-select2 bor8 bg0">
										<select class="js-select2" name="size" id="select-size"
											required>
											<option value="0">カラーを選択してください</option>
										</select>
										<div class="dropDownSelect2"></div>
									</div>
									<br>
								</div>
								<div class="alert alert-danger" id="add-cart-alert">
									<a class="close" style="cursor: pointer;" aria-label="close">&times;</a>
									<strong>注意!</strong>サイズとカラーを選択してください
								</div>
								<div class="fs-12 p-r-10">*在庫ありのサイズだけ表示されている</div>
							</div>
							<!--Add to cart-->
							<div class="flex-w flex-r-m p-b-10">
								<div class="size-204 flex-w flex-m respon6-next">
									<div class="wrap-num-product flex-w m-r-20 m-tb-10">
										<div
											class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
											<i class="fs-16 zmdi zmdi-minus"></i>
										</div>

										<input class="mtext-104 cl3 txt-center num-product"
											type="number" name="quantity" value="1">

										<div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
											<i class="fs-16 zmdi zmdi-plus"></i>
										</div>
									</div>

									<button
										class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 add-cart-btn">
										カートに追加</button>
								</div>
							</div>
						</div>
					</form>

					<!--add to wishlist-->
					<div class="flex-w flex-m p-l-100 p-t-40 respon7">
						<div class="flex-m bor9 p-r-10 m-r-11">
							<button
								class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 js-addwish-detail tooltip100"
								data-tooltip="お気に入り">
								<i class="zmdi zmdi-favorite" id="wishlist-favorite"
									onclick="favoriteButtonCliked()"></i>
							</button>
						</div>

						<a href="#"
							class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100"
							data-tooltip="Facebook"> <i class="fa fa-facebook"></i>
						</a> <a href="#"
							class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100"
							data-tooltip="Twitter"> <i class="fa fa-twitter"></i>
						</a> <a href="#"
							class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100"
							data-tooltip="Google Plus"> <i class="fa fa-google-plus"></i>
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="bor10 m-t-50 p-t-43 p-b-40">
			<!-- Tab01 -->
			<div class="tab01">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li class="nav-item p-b-10"><a class="nav-link active"
						data-toggle="tab" href="#description" role="tab">商品説明</a></li>

					<li class="nav-item p-b-10"><a class="nav-link"
						data-toggle="tab" href="#reviews" role="tab">評価：
							<p th:text="${avgVote}" style="display: inline;"></p>
					</a></li>
					<li class="nav-item p-b-10"><span class="fs-18 cl11"> <!-- 0.5 -->
							<div th:if="${avgVote ge 0.3 && avgVote le 0.7}">
								<i class="zmdi zmdi-star-half"></i>
							</div> <!-- 1 -->
							<div th:if="${avgVote ge 0.8 && avgVote le 1.2}">
								<i class="zmdi zmdi-star"></i>
							</div> <!-- 1.5 -->
							<div th:if="${avgVote ge 1.3 && avgVote le 1.7}">
								<i class="zmdi zmdi-star"></i> <i class="zmdi zmdi-star-half"></i>
							</div> <!-- 2 -->
							<div th:if="${avgVote ge 1.8 && avgVote le 2.2}">
								<i class="zmdi zmdi-star"></i> <i class="zmdi zmdi-star"></i>
							</div> <!-- 2.5 -->
							<div th:if="${avgVote ge 2.3 && avgVote le 2.7}">
								<i class="zmdi zmdi-star"></i> <i class="zmdi zmdi-star"></i> <i
									class="zmdi zmdi-star-half"></i>
							</div> <!-- 3 -->
							<div th:if="${avgVote ge 2.8 && avgVote le 3.2}">
								<i class="zmdi zmdi-star"></i> <i class="zmdi zmdi-star"></i> <i
									class="zmdi zmdi-star"></i>
							</div> <!-- 3.5 -->
							<div th:if="${avgVote ge 3.3 && avgVote le 3.7}">
								<i class="zmdi zmdi-star"></i> <i class="zmdi zmdi-star"></i> <i
									class="zmdi zmdi-star"></i> <i class="zmdi zmdi-star-half"></i>
							</div> <!-- 4 -->
							<div th:if="${avgVote ge 3.8 && avgVote le 4.2}">
								<i class="zmdi zmdi-star"></i> <i class="zmdi zmdi-star"></i> <i
									class="zmdi zmdi-star"></i> <i class="zmdi zmdi-star"></i>
							</div> <!-- 4.5 -->
							<div th:if="${avgVote ge 4.3 && avgVote le 4.7}">
								<i class="zmdi zmdi-star"></i> <i class="zmdi zmdi-star"></i> <i
									class="zmdi zmdi-star"></i> <i class="zmdi zmdi-star"></i> <i
									class="zmdi zmdi-star-half"></i>
							</div> <!-- 5 -->
							<div th:if="${avgVote ge 4.8 && avgVote le 5.0}">
								<i class="zmdi zmdi-star"></i> <i class="zmdi zmdi-star"></i> <i
									class="zmdi zmdi-star"></i> <i class="zmdi zmdi-star"></i> <i
									class="zmdi zmdi-star"></i>
							</div>
					</span></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content p-t-43">
					<!-- - -->
					<div class="tab-pane fade show active" id="description"
						role="tabpanel">
						<div class="how-pos2 p-lr-15-md">
							<p class="stext-102 cl6" th:text="${detail.description}"></p>
						</div>
					</div>

					<!-- - -->

					<!-- - -->
					<br>

					<div class="tab-pane fade" id="reviews" role="tabpanel">
						<div class="row">
							<div class="col-sm-10 col-md-8 col-lg-6 m-lr-auto">
								<div class="p-b-30 m-lr-15-sm">
									<!-- Review -->
									<div th:each="reviewList:${reviewList}">
										<div class="flex-w flex-t p-b-68">
											<!--avatar-->
											<!-- <div class="wrap-pic-s size-109 bor0 of-hidden m-r-18 m-t-6">
													<img src="images/avatar-01.jpg" alt="AVATAR">
												</div> -->

											<div class="size-207">
												<div class="flex-w flex-sb-m p-b-17">
													<span class="mtext-107 cl2 p-r-20"
														th:text="${reviewList.customer.firstName} + ${reviewList.customer.lastName}"></span>
													<span class="fs-18 cl11"> <!-- 0.5 -->
														<div
															th:if="${reviewList.vote ge 0.3 && reviewList.vote le 0.7}">
															<i class="zmdi zmdi-star-half"></i>
														</div> <!-- 1 -->
														<div
															th:if="${reviewList.vote ge 0.8 && reviewList.vote le 1.2}">
															<i class="zmdi zmdi-star"></i>
														</div> <!-- 1.5 -->
														<div
															th:if="${reviewList.vote ge 1.3 && reviewList.vote le 1.7}">
															<i class="zmdi zmdi-star"></i> <i
																class="zmdi zmdi-star-half"></i>
														</div> <!-- 2 -->
														<div
															th:if="${reviewList.vote ge 1.8 && reviewList.vote le 2.2}">
															<i class="zmdi zmdi-star"></i> <i class="zmdi zmdi-star"></i>
														</div> <!-- 2.5 -->
														<div
															th:if="${reviewList.vote ge 2.3 && reviewList.vote le 2.7}">
															<i class="zmdi zmdi-star"></i> <i class="zmdi zmdi-star"></i>
															<i class="zmdi zmdi-star-half"></i>
														</div> <!-- 3 -->
														<div
															th:if="${reviewList.vote ge 2.8 && reviewList.vote le 3.2}">
															<i class="zmdi zmdi-star"></i> <i class="zmdi zmdi-star"></i>
															<i class="zmdi zmdi-star"></i>
														</div> <!-- 3.5 -->
														<div
															th:if="${reviewList.vote ge 3.3 && reviewList.vote le 3.7}">
															<i class="zmdi zmdi-star"></i> <i class="zmdi zmdi-star"></i>
															<i class="zmdi zmdi-star"></i> <i
																class="zmdi zmdi-star-half"></i>
														</div> <!-- 4 -->
														<div
															th:if="${reviewList.vote ge 3.8 && reviewList.vote le 4.2}">
															<i class="zmdi zmdi-star"></i> <i class="zmdi zmdi-star"></i>
															<i class="zmdi zmdi-star"></i> <i class="zmdi zmdi-star"></i>
														</div> <!-- 4.5 -->
														<div
															th:if="${reviewList.vote ge 4.3 && reviewList.vote le 4.7}">
															<i class="zmdi zmdi-star"></i> <i class="zmdi zmdi-star"></i>
															<i class="zmdi zmdi-star"></i> <i class="zmdi zmdi-star"></i>
															<i class="zmdi zmdi-star-half"></i>
														</div> <!-- 5 -->
														<div
															th:if="${reviewList.vote ge 4.8 && reviewList.vote le 5.0}">
															<i class="zmdi zmdi-star"></i> <i class="zmdi zmdi-star"></i>
															<i class="zmdi zmdi-star"></i> <i class="zmdi zmdi-star"></i>
															<i class="zmdi zmdi-star"></i>
														</div>
													</span>
												</div>
												<p class="stext-102 cl6" th:text="${reviewList.content}"></p>
											</div>
										</div>
									</div>


									<p class="stext-102 cl6 p-tb-12 text-center"
										sec:authorize="!isAuthenticated()">
										<a th:href="@{/login}">ログインした上、評価する</a>
									</p>


									<!-- Add review -->
									<div th:if="${userDetails != null}">
										<form class="w-full" th:action="@{/p}" th:object="${review}"
											th:method="POST">
											<h5 class="mtext-108 cl2 p-b-7">あなたの評価</h5>

											<div class="flex-w flex-m p-t-50 p-b-23">
												<span class="stext-102 cl3 m-r-16">5段階評価</span> <span
													class="wrap-rating fs-18 cl11 pointer"> <i
													class="item-rating pointer zmdi zmdi-star-outline"></i> <i
													class="item-rating pointer zmdi zmdi-star-outline"></i> <i
													class="item-rating pointer zmdi zmdi-star-outline"></i> <i
													class="item-rating pointer zmdi zmdi-star-outline"></i> <i
													class="item-rating pointer zmdi zmdi-star-outline"></i> <input
													class="dis-none" type="number" name="vote" id="vote"
													th:field="*{vote}">
												</span>
											</div>

											<div class="row p-b-25">
												<div class="col-12 p-b-5">
													<label class="stext-102 cl3" for="review">詳細</label>
													<textarea
														class="size-110 bor8 stext-102 cl2 p-lr-20 p-tb-10"
														id="content" name="content" th:field=*{content}>
															</textarea>
												</div>

												<!-- <div class="col-sm-6 p-b-5">
														<label class="stext-102 cl3" for="name">Name</label>
														<input class="size-111 bor8 stext-102 cl2 p-lr-20" id="name"
															type="text" name="name">
													</div>
													<div class="col-sm-6 p-b-5">
														<label class="stext-102 cl3" for="email">Email</label>
														<input class="size-111 bor8 stext-102 cl2 p-lr-20" id="email"
															type="text" name="email">
													</div> -->
											</div>


											<button
												class="flex-c-m stext-101 cl0 size-112 bg7 bor11 hov-btn3 p-lr-15 trans-04 m-b-10">
												Submit</button>
											<input type="hidden" id="detailId" name="detailId"
												th:value="${detail.id}">
										</form>
									</div>
									<!-- Add review -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="bg6 flex-c-m flex-w size-302 m-t-73 p-tb-15">
		<span class="stext-107 cl6 p-lr-25" 　th:text="${detail.name}"></span>

	</div>
</section>


<!-- Trending Products -->
<section class="sec-relate-product bg0 p-t-45 p-b-105">
	<div class="container">
		<div class="p-b-45">
			<h3 class="ltext-106 cl5 txt-center">閲覧した商品</h3>
		</div>

		<!-- Slide2 -->
		<div class="wrap-slick2">
			<div class="slick2">
				<th:block th:each="d : ${session.viewed}">
					<div class="item-slick2 p-l-15 p-r-15 p-t-15 p-b-15">
						<!-- Block2 -->
						<div class="block2">
							<div class="block2-pic hov-img0">
								<img th:src="@{${d.mainImage}}" alt="IMG-PRODUCT"> <a
									th:href="@{'/p/' + ${d.id}}"
									class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
									見る </a>
							</div>

							<div class="block2-txt flex-w flex-t p-t-14">
								<div class="block2-txt-child1 flex-col-l ">
									<a th:href="@{'/p/' + ${d.id}}"
										class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6"
										th:text="${d.name}"> Esprit Ruffle Shirt </a> <span
										class="stext-105 cl3" th:text="${d.priceCurrency}">
										$16.64 </span>
								</div>
							</div>
						</div>
					</div>
				</th:block>


			</div>
		</div>
	</div>
</section>


<!-- Footer -->
<div th:replace="~{fragments/footer :: footer}"></div>

<!-- Back to top -->
<div class="btn-back-to-top" id="myBtn">
	<span class="symbol-btn-back-to-top"> <i
		class="zmdi zmdi-chevron-up"></i>
	</span>
</div>

<!-- Modal1 -->
<!--===============================================================================================-->
<div th:replace="~{fragments/js-common :: import-js}"></div>
<!--=======================================お気に入り登録==============================================-->
<script th:inline="javascript">
		var basePath = $('#pagePath').val();
		const dId = /*[[${dId}]]*/"dId";
		var favoriteProduct = /*[[${favoriteProduct}]]*/"favoriteProduct";
		var wishlist = document.getElementById('wishlist-favorite');
		var favoriteProductChecked = 'false';
		var dName = '';
		
		//お気に入りにチェック済みの場合、ボタンの色を変更する。
		if (favoriteProduct != null) {
			wishlist.style.color = "#6c7ae0";
			favoriteProductChecked = 'true';
		} else {
		}
		
		function favoriteButtonCliked() {
			if (favoriteProductChecked == 'true') {
				removeFavoriteProductDetail();
			} else {
				addFavoriteProductDetail();
			}
		}
		
		//お気に入りボタンクリック時（追加）
		function addFavoriteProductDetail() {
			let URL = basePath +"/api/p/fav?dId=" + dId
			$.ajax({
				url: URL,
				type: "post",
				success: function () {
					wishlist.style.color = "#6c7ae0"
					favoriteProductChecked = 'true'

					swal(dName, "お気に入りに追加しました", "success");
				},
				error: function () {
					console.log("access error fav post (add)")
				}
			})
		}
		
		//お気に入りボタンクリック時（削除）
		function removeFavoriteProductDetail() {
			let URL = basePath +"/api/p/fav/remove?dId=" + dId
			$.ajax({
				url: URL,
				type: "post",
				success: function () {
					wishlist.style.color = "#000"
					favoriteProductChecked = 'false'
					swal(dName, "お気に入りから削除した", "success");
				},
				error: function () {
					console.log("access error fav post (remove)")
				}
			})
		}
	</script>
</body>
</html>

