<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: page-head('Home')}">
</head>

<body>
	<div class="
	container-xxl position-relative bg-whited-flexp-0">
		<!-- Spinner Start -->
		<div th:replace="~{fragments:: spinner}"></div>
		<!-- Spinner End -->
	</div>

	<!-- Sidebar Start -->
	<div th:replace="~{fragments:: sidebar}"></div>
	<!-- Sidebar End -->


	<!-- Content Start -->
	<div class="content">
		<!-- Navbar Start -->
		<nav th:replace="~{fragments:: head-nav}"></nav>
		<!-- Navbar End -->

		<!-- Sale & Revenue Start -->
		<div class="container-fluid pt-4 px-4">
			<div class="row g-4">
				<div class="col-sm-6 col-xl-3">
					<div class="bg-light rounded d-flex align-items-center justify-content-around p-4">
						<i class="fa fa-thin fa-users fa-3x text-primary"></i>

						<div class="ms-3">
							<p class="mb-2">顧客数</p>

							<h6 class="mb-0" th:text="${customerTotal}">0</h6>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-xl-3">
					<div class="bg-light rounded d-flex align-items-center justify-content-around p-4">
						<i class="fa fa-ligth fa-user fa-3x text-primary"></i>
						<div class="ms-3">
							<p class="mb-2">会員数</p>
							<h6 class="mb-0" th:text="${memberTotal}">0</h6>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-xl-3">
					<div class="bg-light rounded d-flex align-items-center justify-content-around p-4">
						<i class="fa-sharp fa-solid fa-list fa-3x text-primary"></i>
						<div class="ms-3">
							<p class="mb-2">注文件数</p>
							<h6 class="mb-0" th:text="${orderTotal} +' 件'">0</h6>

						</div>
					</div>
				</div>
				<div class="col-sm-6 col-xl-3">
					<div class="bg-light rounded d-flex align-items-center justify-content-around p-4">
						<i class="fa fa-thin fa-file-pen fa-3x text-primary"></i>
						<div class="ms-3">
							<p class="mb-2">未確定注文</p>
							<h6 class="mb-0" th:text="${placedOrder}+' 件'">0</h6>

						</div>
					</div>
				</div>
				<div class="col-sm-6 col-xl-3">
					<div class="bg-light rounded d-flex align-items-center justify-content-around p-4">
						<i class="fa-sharp fa-solid fa-truck-fast fa-3x text-primary"></i>
						<div class="ms-3">
							<p class="mb-2">配達中</p>

							<h6 class="mb-0" th:text="${deliveringOrder}+' 件'">0</h6>

						</div>
					</div>
				</div>
				<div class="col-sm-6 col-xl-3">
					<div class="bg-light rounded d-flex align-items-center justify-content-around p-4">
						<i class="fa fa-solid fa-yen-sign fa-3x text-primary"></i>
						<div class="ms-3">
							<p class="mb-2">売上</p>
							<h6 class="mb-0">¥<span th:text="${totalSale == null}?0:${totalSale}"></span></h6>
						</div>
					</div>
				</div>

			</div>
		</div>


		<!-- Sale & Revenue End -->
		<div class="container-fluid pt-4 px-4">
			<div class="row g-4">
				<div class="col-sm-12 col-md-12 col-xl-4">
					<div id="msg-box" class=" bg-light rounded p-4">
						<div class="d-flex align-items-center justify-content-between mb-2">
							<h6 class="mb-0">メッセージ</h6>
						</div>

						<th:block th:each="msg : ${contacts}">
							<div class="d-flex align-items-center border-bottom py-3">
								<i class="fa fa-duotone fa-user fa-2x"></i>
								<div class="w-100 ms-3">
									<div class="d-flex w-100 justify-content-between">
										<h6 class="mb-0" th:text="${#strings.substring(msg.email,0,9)}">Jhon Doe</h6>

									</div>
									<th:block
										th:with="ctxLen = ${#strings.length(msg.content)}, index = ${ctxLen < 30}?${ctxLen} : 30">
										<span th:text="${#strings.substring(msg.content,0,index)} + '...'">Short message
											goes here...</span>
									</th:block>
								</div>
								<button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" title="返信"><i
										class="fa fa-light fa-share-from-square"></i></button>
							</div>
						</th:block>
					</div>
				</div>


				<div class="col-sm-12 col-xl-8">
					<div class="bg-light rounded h-80 p-4">
						<div class="d-flex mb-1 justify-content-between">
							<h6>売上累計</h6>
							<div class="mb-0 d-flex">
								<select class="form-control" name="year">
									<option>年度</option>
									<option>1</option>
									<option>1</option>
									<option>1</option>
								</select>

								<select class="form-control" name="month">
									<option>月</option>
									<option>1</option>
									<option>1</option>
									<option>1</option>
								</select>

							</div>
						</div>
						<canvas id="line-chart"></canvas>
					</div>
				</div>


			</div>
		</div>

		<!-- Recent Sales Start -->
		<div class="container-fluid pt-4 px-4">
			<div class="bg-light text-center rounded p-4">
				<div class="d-flex align-items-center justify-content-between mb-4">
					<h6 class="mb-0">注文</h6>


				</div>
				<div class="table-responsive">
					<table class="table text-start align-middle table-bordered table-hover mb-0">
						<thead>
							<tr class="text-dark text-center">
								<th scope="col">注文ID</th>
								<th scope="col">注文日付</th>
								<th scope="col">顧客名</th>
								<th scope="col">お届け住所</th>
								<th scope="col">合計</th>
								<th scope="col">ステータス</th>
								<th scope="col">操作</th>
							</tr>
						</thead>
						<tbody>
							<th:block th:each="order : ${orders}">
								<tr>
									<td th:text="${order.orderNum}"></td>
									<td th:text="${order.orderDateString}">01 Jan 2045</td>
									<td th:text="${order.customer !=null}?${order.customer.fullName}">INV-0123</td>
									<td th:text="${order.customer !=null}?${order.customer.address.fullAddress}">
										千葉県稲毛区穴側2-22-9</td>
									<td th:text="'¥' +${order.total}">$123</td>
									<td th:switch="${order.status.name}" class="text-center">
										<span th:case="'PLACED'">未確定</span> <span th:case="'PAID'">支払い済</span>
										<span th:case="'PROCESSING'">処理中</span> <span th:case="'COMPLETED'">完了</span>
										<span th:case="'DELIVERING'">配送中</span>
									</td>
									<td><a class="btn btn-sm btn-primary" th:href="@{'/order/' + ${order.id}}">詳細</a>
									</td>
								</tr>
							</th:block>
						</tbody>
					</table>
				</div>
				<div class="btn-toolbar justify-content-center mt-4">
					<a th:href="@{/order}">すべて</a>
				</div>
			</div>
		</div>
	</div>
	<!-- Recent Sales End -->


	<!-- Widgets Start -->

	<!-- Widgets End -->
	<!-- Sales Chart Start -->

	<!-- Sales Chart End -->


	<!-- Content End -->


	<!-- Back to Top -->
	<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
	</div>

	<!-- JavaScript Libraries -->
	<div th:replace="~{fragments::common-js}"></div>
</body>

</html>