<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments :: page-head('Home')}">
</head>

<body>
	<div class="
	container-xxl position-relative bg-whited-flexp-0">
		<!-- Spinner Start -->
		<div th:replace="~{fragments:: spinner}"></div>
		<!-- Spinner End -->
	</div>

	<!-- Sidebar Start -->
	<div th:replace="~{fragments:: sidebar}"></div>
	<!-- Sidebar End -->


	<!-- Content Start -->
	<div class="content">
		<!-- Navbar Start -->
		<nav th:replace="~{fragments:: head-nav}"></nav>
		<!-- Navbar End -->
		<!-- Table Start -->
		<div class="container-fluid pt-4 px-4">
			<div class="row g-4">

				<div class="bg-light rounded h-100 p-4">
					<h4>商品一覧</h4>
					<a class="my-4 d-block" href="addUser.html">商品新規追加</a>
					<div class="row">
						<div class="col-3 mb-3">
							<form th:action="@{/product/search}" method="post" class="mb-2">
								<div class="input-group">
									<input type="text" class="form-control" placeholder="検索文字"
										name="searchTxt" required>
									<button class="btn btn-outline-secondary" type="submit">検索</button>
								</div>
							</form>
						</div>
					</div>
					<form th:action="@{/product/search/fillter}" method="post">
						<div class="row">
							<div class="col-2 mb-3">
								<div class="input-group">
									<select class="form-select" aria-label="Category"
										name="category">
										<option selected>カテゴリー</option>
										<th:block th:each="cat : ${categories}">
											<option th:value="${cat.id}" th:text="${cat.name}">Three</option>
										</th:block>
									</select>

								</div>
							</div>
							<div class="col-2 mb-3">
								<div class="input-group">
									<select class="form-select" aria-label="Brand" name="brand">
										<option selected>ブランド</option>
										<th:block th:each="b : ${brands}">
											<option th:value="${b.id}" th:text="${b.name}">Three</option>
										</th:block>
									</select>

								</div>
							</div>
							<div class="col-2 mb-3">
								<button class="btn btn-primary" type="submit">絞り込み検索</button>
							</div>
						</div>
					</form>


					<div class="d-inline-flex"></div>

					<table class="table table-hover">
						<thead>
							<tr>
								<th scope="col">ID</th>
								<th scope="col">イメージ</th>
								<th scope="col">商品名</th>
								<th scope="col">カテゴリ</th>
								<th scope="col">ブランド</th>
								<th scope="col">値段</th>
								<th scope="col">入庫日</th>
								<th scope="col">操作</th>
							</tr>
						</thead>
						<tbody>
							<th:block th:each="pd : ${productDetails}">
								<tr>
									<th scope="row" th:text ="${pd.id}">1</th>
									<td><img
										th:src="${pd.mainImage}"
										class="img-thumbnail product-image" alt="product-image"></td>
									<td th:text ="${pd.name}">ジェッツアイコン</td>
									<td th:text ="${pd.category.name}">スニーカー</td>
									<td th:text ="${pd.brand.name}">NIKE</td>
									<td th:text ="${pd.priceCurrency}">50</td>
									<td th:text="${pd.createTime}">500000</td>
									<td class="justify-content-around"><a th:href="@{'/product/' + ${pd.id}}"
										class="	btn btn-primary" data-bs-toggle="tooltip"
										title="詳細">詳細</a></td>

								</tr>
							</th:block>
						</tbody>
					</table>
					<div class="btn-toolbar justify-content-center mt-4" th:if="${searchTxt == null && totalPages>=1}">
						<div class="btn-group me-2"
							th:each="page : ${#numbers.sequence(1,totalPages)}">
							<a
								th:href="@{'/product/p/' + ${page}}"
								class="btn btn-secondary" th:text="${page}"
								th:classappend="${page == currentPage +1}?'disabled'"></a>
						</div>
					</div>
					<div class="btn-toolbar justify-content-center mt-4" th:if="${searchTxt != null}">
						<div class="btn-group me-2"
							th:each="page : ${#numbers.sequence(1,totalPages)}">
							<a
								th:href="@{'/product/search?s-txt='+${searchTxt} +'&pageNum=' + ${page}}"
								class="btn btn-secondary" th:text="${page}"
								th:classappend="${page == currentPage +1}?'disabled'"></a>
						</div>
					</div>
				</div>
			</div>
			<!-- Content End -->
			<!--Modal start-->
			<div class="modal fade" id="deleteModal">
				<div class="modal-dialog">
					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title">Delete Confirm</h4>
						</div>
						<div class="modal-body">
							<p>Are you sure delete user with ID:</p>
						</div>
						<div class="modal-footer">
							<a href="" class="btn btn-success">Yes</a>
							<button type="button" class="btn btn-danger"
								data-bs-dismiss="modal">Close</button>
						</div>
					</div>

				</div>
			</div>

			<!--Modal end-->

		</div>
	</div>
	<!-- Table End -->

	</div>


	<!-- JavaScript Libraries -->
	<div th:replace="~{fragments::common-js}"></div>
	<!-- <script>
            $(document).ready(function() {
                //Delete confirm modal
                $("#deleteBtn").on('click', function(e) {
                    e.preventDefault();
                    $("#deleteModal").modal('show');
                })
            })
        </script> -->
</body>

</html>