<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments :: page-head('Home')}">
</head>

<body>
	<div class="
	container-xxl position-relative bg-whited-flexp-0">
		<!-- Spinner Start -->
		<div th:replace="~{fragments:: spinner}"></div>
		<!-- Spinner End -->
	</div>

	<!-- Sidebar Start -->
	<div th:replace="~{fragments:: sidebar}"></div>
	<!-- Sidebar End -->


	<!-- Content Start -->
	<div class="content">
		<!-- Navbar Start -->
		<nav th:replace="~{fragments:: head-nav}"></nav>
		<!-- Navbar End -->
		<!-- Table Start -->
		<div class="container-fluid pt-4 px-4">
			<div class="row g-4">

				<div class="bg-light rounded h-100 p-4">
					<h4 class="mb-3" th:text="${productDetail.name}">Product Name</h4>
					<div class="row mb-2 " th:with="d = ${productDetail}">
						<div class="col-lg-6 pe-3 mb-3">
							<h3>商品説明</h3>
							<form th:action="@{/product/update}" method="post" class="mb-2"
								th:object="${productDetail}">
								<div class="mb-3 row">
									<label for="productId" class="col-sm-3 col-form-label">商品ID</label>
									<div class="col-sm-7">
										<input type="text" readonly class="form-control"
											id="productId" th:value="${d.id}" th:field="*{id}">

									</div>
								</div>
								<div class="mb-3 row">
									<label for="productName" class="col-sm-3 col-form-label">商品名</label>
									<div class="col-sm-7">
										<input type="text" readonly class="form-control"
											id="productName" th:value="${d.name}" th:field="*{name}"
											required>
									</div>
									<button onclick="editAble(this)" type="button"
										class="col-sm-2 btn btn-primary">
										<i class="fa fa-light fa-pen-to-square "></i>
									</button>
								</div>
								<div class="mb-3 row">
									<label for="productCode" class="col-sm-3 col-form-label">商品コード</label>
									<div class="col-sm-7">
										<input type="text" readonly class="form-control"
											id="productCode" th:value="${d.code}" th:field="*{code}"
											required>

									</div>
									<button onclick="editAble(this)" type="button"
										class="col-sm-2 btn btn-primary">
										<i class="fa fa-light fa-pen-to-square "></i>
									</button>
								</div>
								<div class="mb-3 row">
									<label for="description" class="col-sm-3 col-form-label">商品説明</label>
									<div class="col-sm-7">
										<textarea readonly class="form-control" id="description"
											rows="5" th:value="${d.description}"
											th:field="*{description}"></textarea>

									</div>
									<button onclick="editAble(this)" type="button"
										class="col-sm-2 btn btn-primary h-100 align-self-center">
										<i class="fa fa-light fa-pen-to-square "></i>
									</button>
								</div>
								<div class="mb-3 row">
									<label for="price" class="col-sm-3 col-form-label">値段</label>
									<div class="col-sm-7">
										<div class="input-group flex-nowrap">
											<span class="input-group-text">¥</span> <input type="text"
												readonly class="form-control" id="price"
												th:value="${d.price}" th:field="*{price}" required>
										</div>
									</div>

									<button onclick="editAble(this)" type="button"
										class="col-sm-2 btn btn-primary">
										<i class="fa fa-light fa-pen-to-square "></i>
									</button>
								</div>

								<div class="mb-3 row">
									<label for="brand" class="col-sm-3 col-form-label">ブランド</label>
									<div class="col-sm-7">
										<select class="form-select" aria-label="Brand" name="brandId">
											<th:block th:each="b : ${brands}">
												<option th:selected="${b.id == d.brand.id}"
													th:value="${b.id}" th:text="${b.name}"></option>

											</th:block>
										</select>

									</div>

								</div>
								<div class="mb-3 row">
									<label for="category" class="col-sm-3 col-form-label">カテゴリー</label>
									<div class="col-sm-7">
										<select class="form-select" aria-label="Category" name="catId">
											<th:block th:each="cat : ${categories}">
												<option th:selected="${cat.id == d.category.id}"
													th:value="${cat.id}" th:text="${cat.name}"></option>
											</th:block>
										</select>

									</div>

								</div>
								<div class="mb-3 row">
									<label for="crt-time" class="col-sm-3 col-form-label">納品日</label>
									<div class="col-sm-7">
										<input type="date" readonly class="form-control" id="crt-time"
											th:value="${d.createDate}" th:field="*{createTime}" required>

									</div>
									<button onclick="editAble(this)" type="button"
										class="col-sm-2 btn btn-primary">
										<i class="fa fa-light fa-pen-to-square "></i>
									</button>
								</div>
								<div class="mb-3 row">
									<label for="crt-time" class="col-sm-3 col-form-label">販売中</label>
									<div class="col-sm-7">
										<div class="form-check form-switch">
											<input class="form-check-input" type="checkbox"
												th:field="*{enable}" th:value="*{enable}"
												id="flexSwitchCheckChecked">
										</div>

									</div>

								</div>
								<div class="mb-3 row">
									<label for="crt-time" class="col-sm-3 col-form-label">写真</label>
									<div class="col-sm-7" id="detail_image">
										<input type="hidden" th:value="${d.mainImage}"
											th:field="*{mainImage}"> <img
											th:src="@{${d.mainImage}}"
											class="img-thumbnail product-image border border-success"
											alt="product-image" data-bs-toggle="tooltip"
											data-bs-placement="top" title="マイン画像">
										<th:block th:each="img : ${d.images}">
											<img th:src="@{${img.name}}"
												class="img-thumbnail product-image " alt="product-image">
										</th:block>
									</div>
									<button onclick="editAble(this)" type="button"
										class="col-sm-2 btn btn-primary h-100 align-self-center"
										data-bs-toggle="modal" data-bs-target="#image-edit-modal">
										<i class="fa fa-light fa-pen-to-square "></i>
									</button>
								</div>
								<div class="d-flex justify-content-center">
									<input type="submit" class="btn btn-primary btn-lg px-4"
										value="更新">
								</div>
							</form>
						</div>
						<div class="col-lg-6 px-3">
							<h3>在庫</h3>
							<div class="table-wrapper">
								<table class="table table-hover overflow-auto">
									<thead>
										<tr>
											<th scope="col">ID</th>
											<th scope="col">カラー</th>
											<th scope="col">サイズ</th>
											<th scope="col">在庫数</th>
											<th scope="col">操作</th>
										</tr>
									</thead>
									<tbody>
										<th:block th:each="p :${productDetail.products}">
											<tr>
												<th scope="row" th:text="${p.id}">1</th>
												<td><i th:style="|color : ${p.color.colorCode}|"
													class="fa fa-thin fa-circle"></i> <span
													th:text="${p.color.name}"></span></td>
												<td th:text="${p.size.value}">Doe</td>
												<td th:text="${p.stockAmount}">jhon@email.com</td>
												<td class="justify-content-around">
													<input type="hidden" th:value="${p.color.id}" name="colorId">
													<input type="hidden" th:value="${p.size.id}" name="sizeId">
													<button id="deleteBtn" th:onclick="'delItem('+${p.id}+')'"
													type="button" class="btn text-danger fs-4" title="Delete"><i class="fa-solid fa-trash"></i></button>&nbsp;&nbsp;
													<a id="edit_stock-btn" href="#" class="h4 text-succes" data-bs-toggle="tooltip" th:onclick="'editStockAmount('+${p.id}+')'"
													title="Edit"><i class="fa-solid fa-user-pen"></i></a></td>

											</tr>
										</th:block>

										<button class="btn btn-primary" type="button" data-bs-target="#addItem" data-bs-toggle="modal" >追加</button>



									</tbody>
								</table>
							</div>
						</div>
					</div>

					<div class="btn-toolbar justify-content-center mt-4"
						th:if="${searchTxt == null && totalPages>=1}">
						<div class="btn-group me-2"
							th:each="page : ${#numbers.sequence(1,totalPages)}">
							<a th:href="@{'/product/p/' + ${page}}" class="btn btn-secondary"
								th:text="${page}"
								th:classappend="${page == currentPage +1}?'disabled'"></a>
						</div>
					</div>
					<div class="btn-toolbar justify-content-center mt-4"
						th:if="${searchTxt != null}">
						<div class="btn-group me-2"
							th:each="page : ${#numbers.sequence(1,totalPages)}">
							<a
								th:href="@{'/product/search?s-txt='+${searchTxt} +'&pageNum=' + ${page}}"
								class="btn btn-secondary" th:text="${page}"
								th:classappend="${page == currentPage +1}?'disabled'"></a>
						</div>
					</div>
				</div>
			</div>
			<!-- Content End -->
			<!--Modal start-->
			<!--Delete confirm modal start-->
			<div class="modal fade" id="deleteItem">
				<div class="modal-dialog">
					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title text-danger">警告</h4>
						</div>
						<div class="modal-body">
							<p></p>
						</div>
						<div class="modal-footer">
							<a th:href="@{'/product/' + ${productDetail.id}}" class="btn btn-success">削除</a>
							<button type="button" class="btn btn-danger"
								data-bs-dismiss="modal">キャンセル</button>

						</div>
					</div>

				</div>
			</div>

<!--add item modal-->
			<div class="modal fade" id="addItem">
				<div class="modal-dialog">
					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title">追加</h4>
						</div>
						<form th:action="@{/product/addItem}" method= "POST">
							<input type="hidden" name="detailId" th:value="${productDetail.id}">
							<div class="modal-body">
								<div class="mb-3 row">
									<label for="brand" class="col-sm-3 col-form-label">カラー</label>
									<div class="col-sm-7">
										<select class="form-select" aria-label="Color" name="colorId">
											<th:block th:each="c : ${colors}">
												<option th:value="${c.id}" th:text="${c.name}"></option>
											</th:block>
										</select>

									</div>

								</div>
								<div class="mb-3 row">
									<label for="category" class="col-sm-3 col-form-label">サイズ</label>
									<div class="col-sm-7">
										<select class="form-select" aria-label="size" name="sizeId">
											<th:block th:each="s : ${sizes}">
												<option th:value="${s.id}" th:text="${s.value}"></option>
											</th:block>
										</select>

									</div>

								</div>
								<div class="mb-3 row">
									<label for="productName" class="col-sm-3 col-form-label">在庫数</label>
									<div class="col-sm-7">
										<input type="number" class="form-control" id="stockAmount" name="stockAmount"
											required>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="submit" class="btn btn-success">登録</button>
								<button type="button" class="btn btn-danger"
									data-bs-dismiss="modal">閉じる</button>

							</div>
						</form>
					</div>

				</div>
			</div>
			<!--edit	 item modal-->
			<div class="modal fade" id="edit_stock-modal">
				<div class="modal-dialog">
					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title">在庫編集</h4>
						</div>
						<form th:action="@{'/product/'+${productDetail.id}+'/editStock'}" method= "POST">
							<input type="hidden" name="productId">
							<div class="modal-body">
								<div class="mb-3 row">
								<input type="hidden" name ="detailId" th:value="${productDetail.id}">
									<label for="brand" class="col-sm-3 col-form-label">カラー</label>
									<div class="col-sm-7">
										<select class="form-select" aria-label="Color" name="colorId">
											<th:block th:each="c : ${colors}">
												<option th:value="${c.id}" th:text="${c.name}"></option>
											</th:block>
										</select>

									</div>

								</div>
								<div class="mb-3 row">
									<label for="category" class="col-sm-3 col-form-label">サイズ</label>
									<div class="col-sm-7">
										<select class="form-select" aria-label="size" name="sizeId">
											<th:block th:each="s : ${sizes}">
												<option th:value="${s.id}" th:text="${s.value}"></option>
											</th:block>
										</select>

									</div>

								</div>
								<div class="mb-3 row">
									<label for="productName" class="col-sm-3 col-form-label">在庫数</label>
									<div class="col-sm-7">
										<input type="number" class="form-control" id="stockAmount" name="stockAmount"
											required>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="submit" class="btn btn-success">登録</button>
								<button type="button" class="btn btn-danger"
									data-bs-dismiss="modal">閉じる</button>

							</div>
						</form>
					</div>

				</div>
			</div>
			<!--Delete confirm modal end-->

			<!--image change confirm modal start-->
			<div class="modal fade" id="image-edit-modal" tabindex="-1"
				aria-labelledby="Image edit" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">画像</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal"
								aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<h3 for="crt-time" class="mb-3">写真</h3>
							<div class="row" th:with="d = ${productDetail}"
								id="product_image-box">

								<div class="px-2 col-3">
									<img th:src="@{${d.mainImage}}"
										class="img-thumbnail product-image border border-success"
										alt="product-image" data-bs-toggle="tooltip"
										data-bs-placement="top" title="マイン画像">
									<div class="py-2">
										<input type="radio" name="mainImage" th:value="${d.mainImage}"
											class="mx-auto d-block">
									</div>
								</div>
								<th:block th:each="img : ${d.images}">
									<div class="px-2 col-3">
										<div class="how-image" onclick="deleteImage(this)">
											<img th:src="@{${img.name}}"
												class="img-thumbnail product-image" alt="product-image">
										</div>
										<div class="py-2">
											<input type="radio" name="mainImage" th:value="${img.id}"
												class="mx-auto d-block">
										</div>
									</div>
								</th:block>
							</div>

						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary"
								data-bs-toggle="modal" data-bs-target="#add-image">追加</button>
							</button>
						</div>
					</div>
				</div>
			</div>
			<!--Modal end-->

			<!--add image modal-->
			<div class="modal fade" id="add-image" tabindex="-1"
				aria-labelledby="Add image" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="add-image">画像を追加</h5>
						</div>
						<div class="modal-body">
							<div class="avatar-upload">
								<div class="avatar-edit">
									<input type='file' id="imageUpload" accept=".png, .jpg, .jpeg"
										onchange="readURL(this)" /> <label for="imageUpload"></label>
								</div>
								<div class="avatar-preview">
									<div id="imagePreview"
										th:style="|background-image: url(@{/img/default-image.jpg});|">
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-bs-dismiss="modal">閉じる</button>
							<button type="button" class="btn btn-primary"
								　data-bs-dismiss="modal" onclick="saveImage()">保存</button>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!-- Table End -->

	</div>


	<!-- JavaScript Libraries -->
	<div th:replace="~{fragments::common-js}"></div>
	<!-- <script>
            $(document).ready(function() {
                //Delete confirm modal
                $("#deleteBtn").on('click', function(e) {
                    e.preventDefault();
                    $("#deleteModal").modal('show');
                })
            })
        </script> -->
</body>

</html>